body {
	background: #eeeeee;
	font-family: tahoma, verdana, sans serif;
    text-shadow: 1px 1px #111;
    background: linear-gradient(115deg, #000000 50%, #14213D 50%);
    color: #FFF;
}

canvas {
	display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

#controls{
  margin-left: 1rem;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
    text-align: center;
    padding-top: 0.5em;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}

h1{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
}

footer{
    margin: auto;
    width: 50%;
    text-align: center;
}